In [1]:
#!/usr/bin/env python
# coding: utf-8

# In[1]:


#create table
from select import select
import pymysql

db = pymysql.connect(host='localhost', user='root', db='python',
                     password='password', charset='utf8')
curs = db.cursor()

sql = '''create table sample (
    column01 varchar(50),
    column02 varchar(50),
    column03 varchar(50))
'''

curs.execute(sql)


sql = "select * from sample"
curs.execute(sql)

sql = "insert into sample (column01, column02,column03)values ('aa', 'bb', 'cc')"
curs.execute(sql)
db.commit()

sql = "select * from sample"
curs.execute(sql)

rows = curs.fetchall()
print(rows)

for row in rows:
    print(row)

db.commit()
db.close()

ModuleNotFoundError: No module named 'pymysql'

In [2]:
from select import select
import pymysql


db = pymysql.connect(host='localhost', user='root', db='python',
                     password='password', charset='utf8')
curs = db.cursor()

sql = '''
update sample set column01 = 'cc', column02 = 'bb'
where column01 = 'aa';
'''
curs.execute(sql)

rows = curs.fetchall()

for row in rows:
    print(row)
    
db.commit()
db.close()

ModuleNotFoundError: No module named 'pymysql'

In [3]:
from select import select
import pymysql


db = pymysql.connect(host='localhost', user='root', db='python',
                     password='password', charset='utf8')
curs = db.cursor()

sql = '''
delete from sample where column01 = 'cc';
'''
curs.execute(sql)

rows = curs.fetchall()

for row in rows:
    print(row)
    
db.commit()
db.close()

ModuleNotFoundError: No module named 'pymysql'

In [4]:
from select import select
import pymysql


db = pymysql.connect(host='localhost', user='root', db='python',
                     password='password', charset='utf8')
curs = db.cursor()

sql = '''
delete from sample where column01 = 'cc';
'''
curs.execute(sql)

rows = curs.fetchall()

for row in rows:
    print(row)
    
db.rollback()
db.close()

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
import pymysql

db = pymysql.connect(host='localhost', user='root', 
                     db='python', password='passwd', charset='utf8')
curs = db.cursor()

sql = '''
delete from sample 
where column01 = 'cc'
'''
curs.execute(sql)

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print('rollback before \n', rows)

db.rollback()   #  작업 원 위치

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print('rollback  after \n', rows)

sql='''insert into sample (column01, column02, column03) 
        values ('dd' ,'bb12','cc12')
    '''
curs.execute(sql)

sql = "select * from sample";
curs.execute(sql)

rows = curs.fetchall()
print(rows)

db.commit()
db.close()