In [1]:
import pandas as pd

In [2]:
tables = pd.read_html('./dataset/sample.html')
tables

[   Unnamed: 0  c0  c1  c2  c3
 0           0   0   1   4   7
 1           1   1   2   5   8
 2           2   2   3   6   9,
          name  year        developer  opensource
 0       NumPy  2006  Travis Oliphant        True
 1  matplotlib  2003   John D. Hunter        True
 2      pandas  2008    Wes Mckinneye        True]

In [3]:
# table 갯수 확인
print(len(tables))

2

In [4]:
# 2개의 테이블에서 각각 값을 읽는다.
for i in range(len(tables)):
    print(tables[i])
    print()

   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [5]:
df = tables[1]
df

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [6]:
# table로 읽어왔으며, DataFrame 구조로 가져온 것을 확인
type(df)

pandas.core.frame.DataFrame

In [7]:
# name 컬럼을 인덱스로 설정, 기존 데이터 변경
df.set_index('name', inplace=True)
print(df)
print()
# 'Numpy' 인덱스행의 정보만 출력
df.loc['NumPy',:]
print()
# year가 2006이후인 자료만 검색
df.info()
df.loc[df.year > 2006]

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True


<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, NumPy to pandas
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3 non-null      int64
 1   developer   3 non-null      object
 2   opensource  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 183.0+ bytes

        year      developer  opensource
name
pandas  2008  Wes Mckinneye        True

In [9]:
# 데이터프레임 자료를 csv 파일로 저장
data = {'name': ['Jerry', 'Riah', 'Paul'],
       'algol' : ['A', 'A+', 'B+'],
        'algol' : ['A', 'A+', 'B+'],
        'basic':["C", "B", "B+"],
        'c++':['B+', 'c+', 'C+']
       }

df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)

# csv 파일로 출력하기, 파일이름은 df_sample.csv
df.to_csv("./dataset/write_csv_data.csv")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B  c+
Paul     B+    B+  C+

In [10]:
# json 파일로 출력하기
df.to_json("./dataset/write_csv_data.json")