### 데코레이터(decorator)

In [3]:
def test(function):
    def wrapper():
        print("함수 시작.")
        function()
        print("함수 종료")
    return wrapper

# 데코레이터 함수 정의
@test
def hello():
    print("hello")
    
# 함수 호출
hello()

## 1. hello 함수 실행
## 2. @test로 인하여 def test(function) 한 줄 실행 (function = hello 인 상태)
## 3. def wrapper()는 정의이기 때문에 아직 실행 안함
## 4. return wrapper 실행
## 5. 그런데 return으로 wrapper함수가 실행되어야 하므로
## 6. def wrapper에 있는 print등의 실행이 되게 된다.

함수 시작.
hello
함수 종료

In [5]:
## class

In [10]:
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
     
a = Student('test', 100, 100, 100, 100)
print(a.name, a.korean, a.math, a.english, a.science)    
# 학생 리스트를 선언합니다.
students = [
    Student("윤인성", 87, 98, 88, 95),
    Student("연하진", 92, 98, 96, 98),
    Student("구지연", 76, 96, 94, 90),
    Student("나선주", 98, 92, 96, 92),
    Student("윤아린", 95, 98, 98, 98),
    Student("윤명월", 64, 88, 92, 92),
]

for student in students:
    print(student.name, student.korean, student.math, student.english, student.science)

test 100 100 100 100
윤인성 87 98 88 95
연하진 92 98 96 98
구지연 76 96 94 90
나선주 98 92 96 92
윤아린 95 98 98 98
윤명월 64 88 92 92