In [16]:
import numpy as np
import pandas as pd
import os

In [24]:
data = pd.read_csv('./한국동서발전(주)_태양광 발전량 현황_20210531.csv',encoding='cp949')

#data = pd.read_csv('./한국동서발전(주)_태양광 발전량 현황_20210531.csv')

idx_list = []

idx_cnt = 0


for el in data['발전기명']:
    
    if el == '광양항어울림태양광':
        idx_list.append(data.loc[idx_cnt,:])
    
    idx_cnt += 1

data_powerplant = pd.DataFrame(idx_list, columns = ['날짜','발전기명','설비용량(MW)','일발전량(Wh)'])
display(data_powerplant.head())

data_powerplant.to_csv('GYP_elect.csv', header=True, index=False, encoding='utf-8-sig')

           날짜       발전기명  설비용량(MW)  일발전량(Wh)
0  2021-01-01  광양항어울림태양광     0.656    624000
1  2021-01-02  광양항어울림태양광     0.656    825120
2  2021-01-03  광양항어울림태양광     0.656    668640
3  2021-01-04  광양항어울림태양광     0.656    783840
4  2021-01-05  광양항어울림태양광     0.656    421920

In [19]:
data_weather = pd.read_csv('./weather.csv')
data_weather.head()

,stnId,tm,avgTa,minTa,maxTa,minRhm,avgTs,sumSsHr,avgCm20Te,avgM15Te,sumFogDur,sumRn
0,266,2021-01-01,-0.2,-4.4,5.0,44,-0.5,4.8,2.5,NaN,NaN,0.0
1,266,2021-01-02,0.7,-2.0,5.1,25,1.7,8.5,3.0,NaN,NaN,0.0
2,266,2021-01-03,1.2,-2.0,5.3,27,0.5,6.0,3.0,NaN,NaN,NaN
3,266,2021-01-04,2.7,-2.5,7.7,26,1.9,8.4,3.2,NaN,NaN,NaN
4,266,2021-01-05,1.6,-3.4,4.9,18,0.8,2.6,3.5,NaN,NaN,NaN

In [42]:
pd_join = pd.merge(data_weather, data_powerplant,  how = 'left' , left_on = "tm",  right_on = "날짜")
result = pd.DataFrame(pd_join, columns = ['날짜','발전기명','설비용량(MW)','일발전량(Wh)', 'avgTa', 'minTa', 'maxTa', 'minRhm', 'avgTs', 'sumSsHr', 'avgCm20Te'])
result.describe(include='object')
result.count()

날짜           151
발전기명         151
설비용량(MW)     151
일발전량(Wh)     151
avgTa        151
minTa        151
maxTa        151
minRhm       151
avgTs        151
sumSsHr      149
avgCm20Te    150
dtype: int64

In [46]:
result['sumSsHr'] = result['sumSsHr'].fillna(0)
result['avgCm20Te'] = result['avgCm20Te'].fillna(0)
result.to_csv('result.csv', header=True, index=False, encoding='utf-8-sig',)
result.head()

,날짜,발전기명,설비용량(MW),일발전량(Wh),avgTa,minTa,maxTa,minRhm,avgTs,sumSsHr,avgCm20Te
0,2021-01-01,광양항어울림태양광,0.656,624000,-0.2,-4.4,5.0,44,-0.5,4.8,2.5
1,2021-01-02,광양항어울림태양광,0.656,825120,0.7,-2.0,5.1,25,1.7,8.5,3.0
2,2021-01-03,광양항어울림태양광,0.656,668640,1.2,-2.0,5.3,27,0.5,6.0,3.0
3,2021-01-04,광양항어울림태양광,0.656,783840,2.7,-2.5,7.7,26,1.9,8.4,3.2
4,2021-01-05,광양항어울림태양광,0.656,421920,1.6,-3.4,4.9,18,0.8,2.6,3.5