In [1]:
import pandas as pd
import re

In [2]:
train = pd.read_csv('./resalecar/dataset/train.csv')
test = pd.read_csv('./resalecar/dataset/test.csv')
sample_submission = pd.read_csv('./resalecar/dataset/sample_submission.csv')

In [3]:
train.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target
0,0,Toyota RAV 4,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000
1,1,Toyota Land Cruiser,10,Lagos,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000
2,2,Land Rover Range Rover Evoque,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000
3,3,Lexus ES 350,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000
4,4,Toyota Venza,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000

In [4]:
test.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year
0,0,Mercedes-Benz C 300,1234,Abuja,New,4-cylinder(I4),automatic,petrol,White,2017
1,1,Honda Accord,29938,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,White,2013
2,2,Mercedes-Benz S 550,87501,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,2012
3,3,Toyota Sienna,180894,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Dark Grey,2001
4,4,Toyota Hiace,104814,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,White,2000

In [5]:
# sorted(train.title.unique())

In [6]:
# sorted(test.title.unique())

In [7]:
only_train_data_title = set(train.title.unique())-set(test.title.unique())
only_test_data_title = set(test.title.unique())-set(train.title.unique())

In [8]:
'train에만 있는 차종류 개수 : {}, test에만 있는 차종류 개수 : {}'.format(len(only_train_data_title), len(only_test_data_title))

'train에만 있는 차종류 개수 : 116, test에만 있는 차종류 개수 : 37'

In [9]:
# only_train_data_title

In [10]:
# only_test_data_title

In [11]:
train['title'].apply(lambda x : x.split(" ")[0])

0       Toyota
1       Toyota
2         Land
3        Lexus
4       Toyota
         ...
1010    Toyota
1011    Toyota
1012    Toyota
1013     Lexus
1014       DAF
Name: title, Length: 1015, dtype: object

In [12]:
train['brand'] = train['title'].apply(lambda x : x.split(" ")[0])
train.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,Toyota RAV 4,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000,Toyota
1,1,Toyota Land Cruiser,10,Lagos,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000,Toyota
2,2,Land Rover Range Rover Evoque,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000,Land
3,3,Lexus ES 350,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000,Lexus
4,4,Toyota Venza,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000,Toyota

In [13]:
train.replace({'brand' : {'Land' : 'Land Rover'}}, inplace = True)

In [14]:
train.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,Toyota RAV 4,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000,Toyota
1,1,Toyota Land Cruiser,10,Lagos,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000,Toyota
2,2,Land Rover Range Rover Evoque,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000,Land Rover
3,3,Lexus ES 350,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000,Lexus
4,4,Toyota Venza,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000,Toyota

In [15]:
len(train['brand'].unique())

42

In [16]:
train['brand'] = train['brand'].replace({'Mercedes-Benz/52' : 'Mercedes-Benz'})

In [17]:
# 브랜드에서 이상한 오타는 없음.
print(len(train['brand'].unique()))
print(sorted(train['brand'].unique()))

41
['ALPINA', 'Acura', 'Audi', 'BMW', 'Bentley', 'Chevrolet', 'DAF', 'Dodge', 'Ford', 'GAC', 'GMC', 'Honda', 'Hyundai', 'IVECO', 'IVM', 'Infiniti', 'Isuzu', 'Iveco', 'JMC', 'Jaguar', 'Jeep', 'Kia', 'Land Rover', 'Lexus', 'Lincoln', 'MAN-VOLKSWAGEN', 'MINI', 'Mack', 'Man', 'Mazda', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Peugeot', 'Pontiac', 'Porsche', 'Rolls-Royce', 'Scania', 'Toyota', 'Volkswagen', 'Volvo']

In [18]:
test['brand'] = test['title'].apply(lambda x: x.split(" ")[0])
test.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
0,0,Mercedes-Benz C 300,1234,Abuja,New,4-cylinder(I4),automatic,petrol,White,2017,Mercedes-Benz
1,1,Honda Accord,29938,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,White,2013,Honda
2,2,Mercedes-Benz S 550,87501,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,2012,Mercedes-Benz
3,3,Toyota Sienna,180894,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Dark Grey,2001,Toyota
4,4,Toyota Hiace,104814,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,White,2000,Toyota

In [19]:
test['brand'].unique()

array(['Mercedes-Benz', 'Honda', 'Toyota', 'Iveco', 'Lexus', 'Nissan',
       'Volkswagen', 'Jeep', 'Ford', 'BMW', 'Mack', 'Land', 'Hyundai',
       'Peugeot', 'Volvo', 'Infiniti', 'Acura', 'Man', 'Fiat', 'MINI',
       'DAF', 'Mazda', 'Porsche', 'Mitsubishi', 'Chevrolet', 'Kia',
       'Pontiac', 'Rolls-Royce'], dtype=object)

In [20]:
test.replace({'brand' : {'Land' : 'Land Rover'}}, inplace = True)

In [21]:
sorted(test['brand'].unique())

['Acura',
 'BMW',
 'Chevrolet',
 'DAF',
 'Fiat',
 'Ford',
 'Honda',
 'Hyundai',
 'Infiniti',
 'Iveco',
 'Jeep',
 'Kia',
 'Land Rover',
 'Lexus',
 'MINI',
 'Mack',
 'Man',
 'Mazda',
 'Mercedes-Benz',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Rolls-Royce',
 'Toyota',
 'Volkswagen',
 'Volvo']

In [22]:
# train이나 test의 종류는 모두 같지 않다.
print(len(train['brand'].unique()))
print(len(test['brand'].unique()))
print(sorted(train['brand'].unique()) == sorted(test['brand'].unique()))

41
28
False

In [23]:
# train에 없는데, test에 있는 brand
s = train['brand'].unique()
temp3 = [x for x in test['brand'].unique() if x not in s] #순서 보존됨
print(temp3)

# test 없는데, train 있는 brand
s = test['brand'].unique()
temp3 = [x for x in train['brand'].unique() if x not in s] #순서 보존됨
print(temp3)

['Fiat']
['Jaguar', 'Lincoln', 'Isuzu', 'IVM', 'Dodge', 'GMC', 'Scania', 'GAC', 'IVECO', 'MAN-VOLKSWAGEN', 'ALPINA', 'Bentley', 'JMC', 'Audi']

In [24]:
sorted(train.location.unique())

['Abia',
 'Abia State',
 'Abuja',
 'Abuja ',
 'Accra',
 'Adamawa ',
 'FCT',
 'Lagos',
 'Lagos ',
 'Lagos State',
 'Ogun',
 'Ogun State',
 'other']

In [25]:
# sorted(test.location.unique())

In [26]:
train['location'] = train['location'].str.replace(" State","")

In [27]:
train['location'] = train['location'].str.rstrip()

In [28]:
sorted(train.location.unique())

['Abia', 'Abuja', 'Accra', 'Adamawa', 'FCT', 'Lagos', 'Ogun', 'other']

In [29]:
test['location'] = test['location'].str.replace(" State","")
test['location'] = test['location'].str.replace(" state","")
test['location'] = test['location'].str.replace('Arepo ogun','Ogun')
test['location'] = test['location'].str.rstrip()

In [30]:
sorted(test['location'].unique())

['Abia', 'Abuja', 'Lagos', 'Mushin', 'Ogun', 'other']

In [31]:
sorted(train.isimported.unique())

['Foreign Used', 'Locally used', 'New ']

In [32]:
sorted(test.isimported.unique())

['Foreign Used', 'Locally used', 'New ']

In [33]:
sorted(train.engine.unique())

['2-cylinder(I2)',
 '3-cylinder(I3)',
 '4-cylinder(H4)',
 '4-cylinder(I4)',
 '5-cylinder(I5)',
 '6-cylinder(I6)',
 '6-cylinder(V6)',
 '8-cylinder(V8)']

In [34]:
sorted(test.engine.unique())

['12-cylinder(V12)',
 '2-cylinder(I2)',
 '3-cylinder(I3)',
 '4-cylinder(I4)',
 '5-cylinder(I5)',
 '6-cylinder(I6)',
 '6-cylinder(V6)',
 '8-cylinder(V8)']

In [35]:
train.transmission.unique()

array(['automatic', 'manual'], dtype=object)

In [36]:
test.transmission.unique()

array(['automatic', 'manual'], dtype=object)

In [37]:
train.fuel.unique()

array(['petrol', 'diesel'], dtype=object)

In [38]:
test.fuel.unique()

array(['petrol', 'diesel'], dtype=object)

In [39]:
sorted(train.paint.unique())

[' Black',
 ' Black/Red',
 'Ash',
 'Ash and black',
 'BLACK',
 'Beige',
 'Black',
 'Black ',
 'Black and silver',
 'Black sand pearl',
 'Black.',
 'Blue',
 'Blue ',
 'Brown',
 'Cream',
 'Cream ',
 'DARK GREY',
 'Dark Ash',
 'Dark Blue',
 'Dark Green',
 'Dark Grey',
 'Dark ash',
 'Dark blue ',
 'Dark gray',
 'Dark silver ',
 'Deep Blue',
 'Deep blue',
 'GOLD',
 'Gery',
 'Gold',
 'Gold ',
 'Gray',
 'Gray ',
 'Green',
 'Green ',
 'Grey',
 'Grey ',
 'Ink blue',
 'Light Gold',
 'Light blue',
 'Light silver ',
 'Magnetic Gray',
 'Magnetic Gray Metallic',
 'Maroon',
 'Midnight Black Metal',
 'Milk',
 'Navy blue',
 'Off white',
 'Off white l',
 'Pale brown',
 'Purple',
 'Red',
 'Redl',
 'SILVER',
 'Silver',
 'Silver ',
 'Silver/grey',
 'Sky blue',
 'Skye blue',
 'Sliver',
 'Super White',
 'WHITE',
 'WINE',
 'Whine ',
 'White',
 'White ',
 'White orchild pearl',
 'Wine',
 'Yellow',
 'blue',
 'green',
 'orange',
 'red',
 'white',
 'white-blue',
 'yellow']

In [40]:
import re 

def clean_text(texts): 
    corpus = [] 
    for i in range(0, len(texts)): 
        review = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"\n\]\[\>\<]', '',texts[i]) #@%*=()/+ 와 같은 문장부호 제거
        review = re.sub(r'\d+','',review)#숫자 제거
        review = review.lower() #소문자 변환
        review = re.sub(r'\s+', ' ', review) #extra space 제거
        review = re.sub(r'<[^>]+>','',review) #Html tags 제거
        review = re.sub(r'\s+', ' ', review) #spaces 제거
        review = re.sub(r"^\s+", '', review) #space from start 제거
        review = re.sub(r'\s+$', '', review) #space from the end 제거
        review = re.sub(r'_', ' ', review) #space from the end 제거
        #review = re.sub(r'l', '', review)
        corpus.append(review) 
        
    return corpus

temp = clean_text(train['paint']) #메소드 적용
train['paint'] = temp
print('train data에서 paint의 unique 카테고리 개수 : ', len(train['paint'].unique()))

train data에서 paint의 unique 카테고리 개수 :  51

In [41]:
sorted(train['paint'].unique())

['ash',
 'ash and black',
 'beige',
 'black',
 'black and silver',
 'black sand pearl',
 'blackred',
 'blue',
 'brown',
 'cream',
 'dark ash',
 'dark blue',
 'dark gray',
 'dark green',
 'dark grey',
 'dark silver',
 'deep blue',
 'gery',
 'gold',
 'gray',
 'green',
 'grey',
 'ink blue',
 'light blue',
 'light gold',
 'light silver',
 'magnetic gray',
 'magnetic gray metallic',
 'maroon',
 'midnight black metal',
 'milk',
 'navy blue',
 'off white',
 'off white l',
 'orange',
 'pale brown',
 'purple',
 'red',
 'redl',
 'silver',
 'silvergrey',
 'sky blue',
 'skye blue',
 'sliver',
 'super white',
 'whine',
 'white',
 'white orchild pearl',
 'whiteblue',
 'wine',
 'yellow']

In [42]:
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('blac') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('golf') >= 0 else x)

In [43]:
sorted(train['paint'].unique())

['ash',
 'beige',
 'black',
 'blue',
 'brown',
 'cream',
 'gold',
 'green',
 'grey',
 'maroon',
 'milk',
 'orange',
 'purple',
 'red',
 'silver',
 'white',
 'wine',
 'yellow']

In [44]:
temp2 = clean_text(test['paint'])
test['paint'] = temp2
print('test data에서 paint의 unique 카테고리 개수 : ', len(test['paint'].unique()))

test data에서 paint의 unique 카테고리 개수 :  30

In [45]:

test['paint'] = test['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('blac') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('golf') >= 0 else x)

In [46]:
len(sorted(test['paint'].unique()))

16

In [47]:
train_year = set(train.year.unique()) - set(test.year.unique())
test_year = set(test.year.unique()) - set(train.year.unique())

In [48]:
train_year

{1217, 1218, 1980, 1982, 1985, 1991, 1995}

In [49]:
test_year

{1324, 1726, 1987, 1993, 2626}

## 자료 비교

In [50]:
def difference(column, df_train, df_test):
    print('---- {} ----'.format(column))
    # train에 없는데, test에 있는 column
    print('train 없는데, test 있는', column)
    s = df_train[column].unique()
    no_train = [x for x in df_test[column].unique() if x not in s] #순서 보존됨
    print(no_train)

    # test 없는데, train 있는 column
    print('test 없는데, train 있는', column)
    s = df_test[column].unique()
    no_test = [x for x in df_train[column].unique() if x not in s] #순서 보존됨
    print(no_test)

difference('brand', train, test)
difference('isimported', train, test)
difference('location', train, test)
difference('engine', train, test)
difference('transmission', train, test)
difference('fuel', train, test)
difference('paint', train, test)
difference('year', train, test)

---- brand ----
train 없는데, test 있는 brand
['Fiat']
test 없는데, train 있는 brand
['Jaguar', 'Lincoln', 'Isuzu', 'IVM', 'Dodge', 'GMC', 'Scania', 'GAC', 'IVECO', 'MAN-VOLKSWAGEN', 'ALPINA', 'Bentley', 'JMC', 'Audi']
---- isimported ----
train 없는데, test 있는 isimported
[]
test 없는데, train 있는 isimported
[]
---- location ----
train 없는데, test 있는 location
['Mushin']
test 없는데, train 있는 location
['FCT', 'Accra', 'Adamawa']
---- engine ----
train 없는데, test 있는 engine
['12-cylinder(V12)']
test 없는데, train 있는 engine
['4-cylinder(H4)']
---- transmission ----
train 없는데, test 있는 transmission
[]
test 없는데, train 있는 transmission
[]
---- fuel ----
train 없는데, test 있는 fuel
[]
test 없는데, train 있는 fuel
[]
---- paint ----
train 없는데, test 있는 paint
['indigo ink pearl']
test 없는데, train 있는 paint
['purple', 'milk', 'orange']
---- year ----
train 없는데, test 있는 year
[1993, 1987, 1324, 2626, 1726]
test 없는데, train 있는 year
[1995, 1985, 1991, 1218, 1982, 1217, 1980]

## 자료 가공

In [51]:
set(train.brand) | set(test.brand) # 합집합

{'ALPINA',
 'Acura',
 'Audi',
 'BMW',
 'Bentley',
 'Chevrolet',
 'DAF',
 'Dodge',
 'Fiat',
 'Ford',
 'GAC',
 'GMC',
 'Honda',
 'Hyundai',
 'IVECO',
 'IVM',
 'Infiniti',
 'Isuzu',
 'Iveco',
 'JMC',
 'Jaguar',
 'Jeep',
 'Kia',
 'Land Rover',
 'Lexus',
 'Lincoln',
 'MAN-VOLKSWAGEN',
 'MINI',
 'Mack',
 'Man',
 'Mazda',
 'Mercedes-Benz',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Rolls-Royce',
 'Scania',
 'Toyota',
 'Volkswagen',
 'Volvo'}

In [52]:
brand_label = {_brand : label for label, _brand in enumerate(set(set(train.brand)|set(test.brand)))}
brand_label
# set 집합은 순서가 없음

{'Dodge': 0,
 'Lincoln': 1,
 'Audi': 2,
 'MINI': 3,
 'ALPINA': 4,
 'Honda': 5,
 'Porsche': 6,
 'Volvo': 7,
 'Jaguar': 8,
 'Iveco': 9,
 'GMC': 10,
 'IVECO': 11,
 'Bentley': 12,
 'BMW': 13,
 'Infiniti': 14,
 'Hyundai': 15,
 'Nissan': 16,
 'Ford': 17,
 'Mazda': 18,
 'Mitsubishi': 19,
 'Fiat': 20,
 'GAC': 21,
 'IVM': 22,
 'Volkswagen': 23,
 'MAN-VOLKSWAGEN': 24,
 'DAF': 25,
 'Land Rover': 26,
 'Acura': 27,
 'Scania': 28,
 'Man': 29,
 'Lexus': 30,
 'Isuzu': 31,
 'Kia': 32,
 'Pontiac': 33,
 'Toyota': 34,
 'Jeep': 35,
 'Mack': 36,
 'JMC': 37,
 'Mercedes-Benz': 38,
 'Rolls-Royce': 39,
 'Chevrolet': 40,
 'Peugeot': 41}

In [53]:
train['brand'] = train['brand'].replace(brand_label)
test['brand'] = test['brand'].replace(brand_label)

In [54]:
train['brand'].unique()

array([34, 26, 30, 33, 17,  5,  7, 13, 14, 38, 15,  8, 19, 16, 36, 40, 18,
        1, 32, 23, 27, 25, 29, 31, 22,  6,  3,  0, 10,  9, 28, 21, 11, 41,
       39, 24, 35,  4, 12, 37,  2], dtype=int64)

In [55]:
test['brand']

0      38
1       5
2      38
3      34
4      34
       ..
431    38
432     5
433    38
434    30
435    34
Name: brand, Length: 436, dtype: int64

In [56]:
train['brand']

0       34
1       34
2       26
3       30
4       34
        ..
1010    34
1011    34
1012    34
1013    30
1014    25
Name: brand, Length: 1015, dtype: int64

In [57]:
car_title = pd.concat([train.title, test.title], ignore_index = True)
car_title = set(car_title)
car_title

{'ALPINA B3',
 'Acura MDX',
 'Acura RDX',
 'Acura TL',
 'Acura TSX',
 'Acura ZDX',
 'Audi S6',
 'BMW 325',
 'BMW 335',
 'BMW 525',
 'BMW 528',
 'BMW 535',
 'BMW 730',
 'BMW 740',
 'BMW 745',
 'BMW 750',
 'BMW X3',
 'BMW X6',
 'Bentley Arnage',
 'Chevrolet Camaro',
 'Chevrolet Evanda',
 'Chevrolet Traverse',
 'DAF 45',
 'DAF 95XF TRACTOR HEAD',
 'DAF CF',
 'DAF FA 55. 180',
 'DAF XF TRACTOR HEAD',
 'Dodge Charger',
 'Fiat Ducato',
 'Ford Edge',
 'Ford Escape',
 'Ford Expedition',
 'Ford Explorer',
 'Ford F 150',
 'Ford Focus',
 'Ford Fusion',
 'Ford Mondeo',
 'Ford Mustang',
 'Ford TRANSIT PICKUP',
 'Ford Transit',
 'GAC Gonow Other',
 'GMC Terrain',
 'Honda Accord',
 'Honda CR-V',
 'Honda Civic',
 'Honda Crosstour',
 'Honda Element',
 'Honda Fit',
 'Honda Insight',
 'Honda Odyssey',
 'Honda Pilot',
 'Honda Ridgeline',
 'Hyundai Azera',
 'Hyundai Elantra',
 'Hyundai Santa Fe',
 'Hyundai Sonata',
 'Hyundai Tucson',
 'Hyundai ix35',
 'IVECO EUROTECH 7.50E-16',
 'IVM LT35',
 'Infiniti FX',
 'Infiniti JX',
 'Infiniti M35',
 'Infiniti QX80',
 'Isuzu CABSTER',
 'Isuzu NQR',
 'Iveco EUROCARGO 120e18',
 'Iveco TRUCK',
 'JMC Vigus',
 'Jaguar X-Type',
 'Jaguar XJ8',
 'Jeep Cherokee',
 'Jeep Wrangler',
 'Kia Cerato',
 'Kia Optima',
 'Kia Picanto',
 'Kia Rio',
 'Kia Sorento',
 'Kia Soul',
 'Kia Stinger',
 'Land Rover Discovery',
 'Land Rover Range Rover',
 'Land Rover Range Rover Evoque',
 'Land Rover Range Rover Sport',
 'Land Rover Range Rover Velar',
 'Lexus CT 200h',
 'Lexus ES 300',
 'Lexus ES 330',
 'Lexus ES 350',
 'Lexus GS 300',
 'Lexus GS 350',
 'Lexus GX 460',
 'Lexus GX 470',
 'Lexus IS 250',
 'Lexus LS 460',
 'Lexus LX 570',
 'Lexus RX 300',
 'Lexus RX 330',
 'Lexus RX 350',
 'Lexus RX 400',
 'Lincoln Mark',
 'MAN-VOLKSWAGEN FLATBED',
 'MINI Cooper',
 'MINI Cooper Countryman',
 'MINI Cooper Coupé',
 'Mack CH613',
 'Mack CH613 CONVENTIONAL CAB',
 'Mack CXN613',
 'Mack CXN613 CAB BEHIND ENGINE',
 'Mack R-686ST',
 'Man 26-403',
 'Man BOCKMANN',
 'Man Diesel 19.314 FILT-N',
 'Man LE 8. 180 PLATFORM TRUCK',
 'Man TGA 18.360',
 'Man Truck 18.44',
 'Mazda 323',
 'Mazda 6',
 'Mazda CX-9',
 'Mazda Tribute',
 'Mercedes-Benz 200',
 'Mercedes-Benz 220',
 'Mercedes-Benz 300',
 'Mercedes-Benz 320',
 'Mercedes-Benz 350',
 'Mercedes-Benz 450',
 'Mercedes-Benz 709 DB',
 'Mercedes-Benz 814',
 'Mercedes-Benz ATEGO',
 'Mercedes-Benz C 180',
 'Mercedes-Benz C 250',
 'Mercedes-Benz C 300',
 'Mercedes-Benz C 320',
 'Mercedes-Benz C 350',
 'Mercedes-Benz C 450 AMG',
 'Mercedes-Benz C 63 AMG',
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY',
 'Mercedes-Benz CLA 250',
 'Mercedes-Benz CLS 500',
 'Mercedes-Benz DUMP TRUCK',
 'Mercedes-Benz E 200',
 'Mercedes-Benz E 300',
 'Mercedes-Benz E 320',
 'Mercedes-Benz E 350',
 'Mercedes-Benz E 550',
 'Mercedes-Benz G 550',
 'Mercedes-Benz G 63 AMG',
 'Mercedes-Benz GL 450',
 'Mercedes-Benz GLA 180',
 'Mercedes-Benz GLA 250',
 'Mercedes-Benz GLC 300',
 'Mercedes-Benz GLE 350',
 'Mercedes-Benz GLE 43 AMG',
 'Mercedes-Benz GLE 450',
 'Mercedes-Benz GLK 300',
 'Mercedes-Benz GLK 350',
 'Mercedes-Benz ML 320',
 'Mercedes-Benz ML 350',
 'Mercedes-Benz ML 430',
 'Mercedes-Benz Maybach',
 'Mercedes-Benz S 450',
 'Mercedes-Benz S 550',
 'Mercedes-Benz SL 400',
 'Mercedes-Benz WATER TANKER',
 'Mercedes-Benz/52',
 'Mitsubishi CANTER PICK UP',
 'Mitsubishi Eclipse',
 'Mitsubishi Galant',
 'Mitsubishi L200',
 'Mitsubishi Montero',
 'Mitsubishi Pajero',
 'Nissan A',
 'Nissan Altima',
 'Nissan Cabstar',
 'Nissan Frontier',
 'Nissan INFINITI M90.150/2',
 'Nissan Maxima',
 'Nissan Murano',
 'Nissan Pathfinder',
 'Nissan Primera',
 'Nissan Quest',
 'Nissan Rogue',
 'Nissan Sentra',
 'Nissan Titan',
 'Nissan Versa',
 'Nissan X-Trail',
 'Nissan Xterra',
 'Peugeot 206',
 'Peugeot 307',
 'Peugeot 308',
 'Peugeot 607',
 'Pontiac Vibe',
 'Porsche Cayenne',
 'Porsche Macan',
 'Porsche Panamera',
 'Rolls-Royce Ghost',
 'Scania P94 FLATBED',
 'Scania TRACTOR HEAD',
 'Toyota 4-Runner',
 'Toyota Avalon',
 'Toyota Avensis',
 'Toyota C-HR',
 'Toyota Camry',
 'Toyota Coaster',
 'Toyota Corolla',
 'Toyota DYNA 200',
 'Toyota Dyna',
 'Toyota Hiace',
 'Toyota Highlander',
 'Toyota Hilux',
 'Toyota Land Cruiser',
 'Toyota Matrix',
 'Toyota Prado',
 'Toyota Prius',
 'Toyota RAV 4',
 'Toyota Sequoia',
 'Toyota Sienna',
 'Toyota Solara',
 'Toyota Tacoma',
 'Toyota Tundra',
 'Toyota Venza',
 'Toyota Vitz',
 'Toyota Yaris',
 'Volkswagen 17.22',
 'Volkswagen Golf',
 'Volkswagen Jetta',
 'Volkswagen LT',
 'Volkswagen Passat',
 'Volkswagen Sharan',
 'Volkswagen T4 Caravelle',
 'Volkswagen T6 other',
 'Volkswagen Tiguan',
 'Volkswagen Touareg',
 'Volvo FH12',
 'Volvo FL12',
 'Volvo FL6',
 'Volvo FL7',
 'Volvo S80',
 'Volvo XC60',
 'Volvo XC90'}

In [58]:
car_title_label = {car_title : label for label, car_title in enumerate(car_title)}
car_title_label

{'Ford Explorer': 0,
 'Porsche Panamera': 1,
 'Volkswagen LT': 2,
 'Acura TSX': 3,
 'Mercedes-Benz CLS 500': 4,
 'Mercedes-Benz GLE 43 AMG': 5,
 'Mercedes-Benz GLA 250': 6,
 'DAF FA 55. 180': 7,
 'Honda Civic': 8,
 'Audi S6': 9,
 'Mercedes-Benz C 320': 10,
 'Toyota Prius': 11,
 'Volkswagen T4 Caravelle': 12,
 'Lexus RX 400': 13,
 'Honda Pilot': 14,
 'Kia Sorento': 15,
 'Lexus GS 350': 16,
 'Ford Fusion': 17,
 'Nissan Frontier': 18,
 'Volvo FL7': 19,
 'Lexus ES 330': 20,
 'Mercedes-Benz ML 350': 21,
 'Mazda 323': 22,
 'Toyota Corolla': 23,
 'Nissan Primera': 24,
 'Mazda 6': 25,
 'Toyota Land Cruiser': 26,
 'Fiat Ducato': 27,
 'Lincoln Mark': 28,
 'Rolls-Royce Ghost': 29,
 'Lexus CT 200h': 30,
 'Mack CH613 CONVENTIONAL CAB': 31,
 'Volvo FL6': 32,
 'Mercedes-Benz C 300': 33,
 'Mercedes-Benz SL 400': 34,
 'Lexus ES 350': 35,
 'Jaguar X-Type': 36,
 'Nissan Rogue': 37,
 'Mercedes-Benz C 450 AMG': 38,
 'Volkswagen Sharan': 39,
 'Ford Transit': 40,
 'Porsche Macan': 41,
 'Mack CXN613': 42,
 'MINI Cooper Countryman': 43,
 'Mercedes-Benz GL 450': 44,
 'Porsche Cayenne': 45,
 'Mercedes-Benz C 63 AMG': 46,
 'Mercedes-Benz GLK 350': 47,
 'BMW 528': 48,
 'MAN-VOLKSWAGEN FLATBED': 49,
 'Volvo S80': 50,
 'Toyota Hilux': 51,
 'Mercedes-Benz 320': 52,
 'JMC Vigus': 53,
 'Ford TRANSIT PICKUP': 54,
 'Mercedes-Benz G 550': 55,
 'Mercedes-Benz DUMP TRUCK': 56,
 'Mercedes-Benz E 300': 57,
 'Isuzu NQR': 58,
 'Mercedes-Benz 220': 59,
 'Mercedes-Benz C 180': 60,
 'BMW X6': 61,
 'Mitsubishi CANTER PICK UP': 62,
 'Nissan INFINITI M90.150/2': 63,
 'Mercedes-Benz 200': 64,
 'Toyota Camry': 65,
 'Dodge Charger': 66,
 'Kia Rio': 67,
 'Toyota Avalon': 68,
 'Mercedes-Benz GLA 180': 69,
 'Jeep Cherokee': 70,
 'Mercedes-Benz 450': 71,
 'Lexus LX 570': 72,
 'Ford F 150': 73,
 'Land Rover Range Rover Evoque': 74,
 'Mack CXN613 CAB BEHIND ENGINE': 75,
 'Toyota Dyna': 76,
 'Scania TRACTOR HEAD': 77,
 'Acura RDX': 78,
 'Land Rover Range Rover Sport': 79,
 'IVM LT35': 80,
 'Lexus RX 350': 81,
 'Mercedes-Benz CLA 250': 82,
 'Mazda Tribute': 83,
 'Infiniti QX80': 84,
 'Kia Cerato': 85,
 'Man Diesel 19.314 FILT-N': 86,
 'Peugeot 308': 87,
 'Mercedes-Benz G 63 AMG': 88,
 'Land Rover Discovery': 89,
 'Mitsubishi Eclipse': 90,
 'Honda Fit': 91,
 'Honda CR-V': 92,
 'BMW X3': 93,
 'Mercedes-Benz E 350': 94,
 'Mercedes-Benz E 200': 95,
 'Lexus RX 330': 96,
 'Mercedes-Benz GLE 350': 97,
 'Nissan Sentra': 98,
 'Honda Accord': 99,
 'Hyundai Tucson': 100,
 'Volvo FL12': 101,
 'Mercedes-Benz GLE 450': 102,
 'Chevrolet Evanda': 103,
 'Mitsubishi Pajero': 104,
 'Hyundai Elantra': 105,
 'Toyota Solara': 106,
 'Honda Odyssey': 107,
 'Nissan X-Trail': 108,
 'Mercedes-Benz E 550': 109,
 'Toyota DYNA 200': 110,
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY': 111,
 'DAF 95XF TRACTOR HEAD': 112,
 'Peugeot 607': 113,
 'Man Truck 18.44': 114,
 'Kia Soul': 115,
 'BMW 740': 116,
 'DAF 45': 117,
 'Mercedes-Benz 814': 118,
 'Toyota Prado': 119,
 'Nissan Titan': 120,
 'Hyundai Azera': 121,
 'Iveco TRUCK': 122,
 'Peugeot 206': 123,
 'BMW 335': 124,
 'Volkswagen Touareg': 125,
 'Volkswagen Jetta': 126,
 'Mercedes-Benz ATEGO': 127,
 'Scania P94 FLATBED': 128,
 'Nissan A': 129,
 'Honda Element': 130,
 'Lexus IS 250': 131,
 'Toyota C-HR': 132,
 'Mercedes-Benz C 350': 133,
 'Hyundai Santa Fe': 134,
 'Mercedes-Benz Maybach': 135,
 'Man BOCKMANN': 136,
 'Ford Edge': 137,
 'Volkswagen Golf': 138,
 'Infiniti FX': 139,
 'Peugeot 307': 140,
 'Honda Ridgeline': 141,
 'BMW 745': 142,
 'Lexus RX 300': 143,
 'Land Rover Range Rover': 144,
 'Kia Optima': 145,
 'Mercedes-Benz WATER TANKER': 146,
 'Nissan Xterra': 147,
 'GAC Gonow Other': 148,
 'Volvo XC60': 149,
 'DAF XF TRACTOR HEAD': 150,
 'Toyota Vitz': 151,
 'Hyundai Sonata': 152,
 'IVECO EUROTECH 7.50E-16': 153,
 'Acura TL': 154,
 'Nissan Versa': 155,
 'Jeep Wrangler': 156,
 'Toyota Tacoma': 157,
 'Mack R-686ST': 158,
 'Toyota Yaris': 159,
 'Chevrolet Traverse': 160,
 'Toyota Avensis': 161,
 'Lexus LS 460': 162,
 'Mercedes-Benz/52': 163,
 'MINI Cooper Coupé': 164,
 'Lexus GX 460': 165,
 'Ford Escape': 166,
 'Mercedes-Benz GLC 300': 167,
 'Volkswagen T6 other': 168,
 'Toyota RAV 4': 169,
 'Toyota Coaster': 170,
 'Mercedes-Benz S 550': 171,
 'Acura MDX': 172,
 'Infiniti JX': 173,
 'Toyota Sequoia': 174,
 'Lexus GX 470': 175,
 'DAF CF': 176,
 'Mercedes-Benz S 450': 177,
 'Mitsubishi Montero': 178,
 'Kia Stinger': 179,
 'Nissan Pathfinder': 180,
 'Jaguar XJ8': 181,
 'Honda Crosstour': 182,
 'BMW 730': 183,
 'Lexus ES 300': 184,
 'BMW 325': 185,
 'Volvo XC90': 186,
 'Kia Picanto': 187,
 'Volvo FH12': 188,
 'Toyota Sienna': 189,
 'Toyota Matrix': 190,
 'Toyota Hiace': 191,
 'Nissan Cabstar': 192,
 'Acura ZDX': 193,
 'Isuzu CABSTER': 194,
 'Volkswagen 17.22': 195,
 'Man LE 8. 180 PLATFORM TRUCK': 196,
 'Volkswagen Tiguan': 197,
 'Mercedes-Benz ML 430': 198,
 'ALPINA B3': 199,
 'Mitsubishi Galant': 200,
 'Land Rover Range Rover Velar': 201,
 'Pontiac Vibe': 202,
 'Mercedes-Benz 350': 203,
 'Toyota Tundra': 204,
 'Mercedes-Benz ML 320': 205,
 'MINI Cooper': 206,
 'Man TGA 18.360': 207,
 'Iveco EUROCARGO 120e18': 208,
 'Mazda CX-9': 209,
 'Nissan Maxima': 210,
 'Volkswagen Passat': 211,
 'Bentley Arnage': 212,
 'Mitsubishi L200': 213,
 'Toyota Venza': 214,
 'Mercedes-Benz E 320': 215,
 'Nissan Quest': 216,
 'BMW 535': 217,
 'Mercedes-Benz C 250': 218,
 'Toyota Highlander': 219,
 'Ford Expedition': 220,
 'Honda Insight': 221,
 'BMW 525': 222,
 'Mack CH613': 223,
 'Infiniti M35': 224,
 'Ford Focus': 225,
 'Nissan Murano': 226,
 'Man 26-403': 227,
 'Mercedes-Benz GLK 300': 228,
 'GMC Terrain': 229,
 'Nissan Altima': 230,
 'BMW 750': 231,
 'Mercedes-Benz 300': 232,
 'Ford Mustang': 233,
 'Chevrolet Camaro': 234,
 'Lexus GS 300': 235,
 'Mercedes-Benz 709 DB': 236,
 'Ford Mondeo': 237,
 'Toyota 4-Runner': 238,
 'Hyundai ix35': 239}

In [59]:
train['title'] = train['title'].replace(car_title_label)
test['title'] = test['title'].replace(car_title_label)

In [60]:
train.head(5)

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,169,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,red,2016,13665000,34
1,1,26,10,Lagos,New,4-cylinder(I4),automatic,petrol,black,2019,33015000,34
2,2,74,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,red,2012,9915000,26
3,3,35,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,grey,2007,3815000,30
4,4,214,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,red,2010,7385000,34

In [61]:
test.head(1)

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
0,0,33,1234,Abuja,New,4-cylinder(I4),automatic,petrol,white,2017,38

In [62]:
train.location.unique()

array(['Lagos', 'Abuja', 'Ogun', 'FCT', 'Accra', 'other', 'Abia',
       'Adamawa'], dtype=object)

In [63]:
test.location.unique()

array(['Abuja', 'Lagos', 'Ogun', 'Mushin', 'other', 'Abia'], dtype=object)

In [64]:
# Mushin은 Loagos와 연관있는 곳
test['location'] = test['location'].str.replace('Mushin', 'Lagos')

In [65]:
test.location.unique()

array(['Abuja', 'Lagos', 'Ogun', 'other', 'Abia'], dtype=object)

In [66]:
location_label = set(train.location) | set(test.location) # 합집합
print(location_label)

{'Accra', 'Ogun', 'Abia', 'Adamawa', 'Lagos', 'Abuja', 'other', 'FCT'}

In [67]:
location_label = {_location : label for label, _location in enumerate(set(pd.concat([train.location, test.location])))}

train['location'] = train['location'].replace(location_label)
test['location'] = test['location'].replace(location_label)

In [68]:
location_label

{'Accra': 0,
 'Ogun': 1,
 'Abia': 2,
 'Adamawa': 3,
 'Lagos': 4,
 'Abuja': 5,
 'other': 6,
 'FCT': 7}

In [69]:
print(len(train['paint'].unique()))
len(test['paint'].unique())

18

16

In [70]:
paint_label = {_paint : label for label, _paint in enumerate(set(pd.concat([train.paint, test.paint])))}

In [71]:
paint_label

{'orange': 0,
 'green': 1,
 'white': 2,
 'grey': 3,
 'gold': 4,
 'blue': 5,
 'ash': 6,
 'silver': 7,
 'beige': 8,
 'purple': 9,
 'indigo ink pearl': 10,
 'maroon': 11,
 'milk': 12,
 'black': 13,
 'brown': 14,
 'red': 15,
 'cream': 16,
 'wine': 17,
 'yellow': 18}

In [72]:
train['paint'] = train['paint'].replace(paint_label)
test['paint'] = test['paint'].replace(paint_label)

In [73]:
set(set(train.engine.unique()) | set(test.engine.unique())) - set(set(train.engine.unique()) & set(test.engine.unique()))

{'12-cylinder(V12)', '4-cylinder(H4)'}

In [74]:
train[train.engine == '4-cylinder(H4)']

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
327,327,65,3656,5,Foreign Used,4-cylinder(H4),automatic,petrol,7,2020,20015000,34
830,830,99,152229,4,Foreign Used,4-cylinder(H4),automatic,petrol,3,2007,2765000,5

In [75]:
train = train.replace({'4-cylinder(H4)' : '4-cylinder(I4)'})

In [76]:
test[test.engine == '12-cylinder(V12)']

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
142,142,135,6758,4,New,12-cylinder(V12),automatic,petrol,13,2019,38

In [77]:
test = test.replace({'12-cylinder(V12)' : '8-cylinder(V8)'})

In [78]:
test.iloc[[142]]

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
142,142,135,6758,4,New,8-cylinder(V8),automatic,petrol,13,2019,38

In [79]:
engine_label = {_engine : label for label, _engine in enumerate(set(pd.concat([train.engine, test.engine])))}
engine_label

{'3-cylinder(I3)': 0,
 '6-cylinder(I6)': 1,
 '4-cylinder(I4)': 2,
 '8-cylinder(V8)': 3,
 '5-cylinder(I5)': 4,
 '2-cylinder(I2)': 5,
 '6-cylinder(V6)': 6}

In [80]:
train = train.replace(engine_label)
test = test.replace(engine_label)

In [81]:
train['year'] = train['year'].replace([1218, 1217], [2010, 2010])
test['year'] = test['year'].replace([1324, 1726, 2626], [2010, 2010, 2020])

In [82]:
isimported_label = {'Foreign Used': 0, 'Locally used' : 1, 'New ' : 2}
transmission_label = {'automatic' : 0, 'manual' : 1}
fuel_label = {'petrol' : 0, 'diesel' : 1}

In [83]:
train['isimported'] = train['isimported'].replace(isimported_label)
test['isimported'] = test['isimported'].replace(isimported_label)

train['transmission'] = train['transmission'].replace(transmission_label)
test['transmission'] = test['transmission'].replace(transmission_label)

train['fuel'] = train['fuel'].replace(fuel_label)
test['fuel'] = test['fuel'].replace(fuel_label)

## 추가 컬럼

## 데이터 변환 최종 점검

In [84]:
# object가 나오면 안된다. 모두 정수형, float형이어야 한다.
display(train.head())
train.info()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,169,18277,4,0,2,0,0,15,2016,13665000,34
1,1,26,10,4,2,2,0,0,13,2019,33015000,34
2,2,74,83091,4,0,6,0,0,15,2012,9915000,26
3,3,35,91524,4,0,2,0,0,3,2007,3815000,30
4,4,214,94177,4,0,6,0,0,15,2010,7385000,34

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1015 non-null   int64
 1   title         1015 non-null   int64
 2   odometer      1015 non-null   int64
 3   location      1015 non-null   int64
 4   isimported    1015 non-null   int64
 5   engine        1015 non-null   int64
 6   transmission  1015 non-null   int64
 7   fuel          1015 non-null   int64
 8   paint         1015 non-null   int64
 9   year          1015 non-null   int64
 10  target        1015 non-null   int64
 11  brand         1015 non-null   int64
dtypes: int64(12)
memory usage: 95.3 KB

In [85]:
display(test.head())
test.info()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
0,0,33,1234,5,2,2,0,0,2,2017,38
1,1,99,29938,5,0,2,0,0,2,2013,5
2,2,171,87501,4,0,2,0,0,13,2012,38
3,3,189,180894,4,1,6,0,0,3,2001,34
4,4,191,104814,4,0,2,0,0,2,2000,34

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            436 non-null    int64
 1   title         436 non-null    int64
 2   odometer      436 non-null    int64
 3   location      436 non-null    int64
 4   isimported    436 non-null    int64
 5   engine        436 non-null    int64
 6   transmission  436 non-null    int64
 7   fuel          436 non-null    int64
 8   paint         436 non-null    int64
 9   year          436 non-null    int64
 10  brand         436 non-null    int64
dtypes: int64(11)
memory usage: 37.6 KB

In [86]:
len(train)

1015

## 모델 사용

In [87]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [88]:

train_X = train.drop(['id', 'target'], axis = 1)
train_y = train.target

test_X = test.drop(['id'], axis = 1)

In [89]:
model.fit(train_X, train_y)

LinearRegression()

In [90]:
pred = model.predict(test_X)

In [91]:

submission = sample_submission.copy()
submission.target = pred
submission

      id        target
0      0  2.445607e+07
1      1  8.540625e+06
2      2  1.012833e+07
3      3  1.061321e+06
4      4 -4.671270e+06
..   ...           ...
431  431  1.328703e+07
432  432  6.793928e+06
433  433  1.100718e+07
434  434 -1.427151e+06
435  435  4.556675e+06

[436 rows x 2 columns]

In [92]:
submission.to_csv('./resalecar/submission.csv', index = False)

In [93]:
from sklearn.linear_model import LogisticRegression

In [94]:
model = LogisticRegression()
model.fit(train_X, train_y)

C:\Users\sangt\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [95]:
pred = model.predict(test_X)

In [96]:

submission2 = sample_submission.copy()
submission2.target = pred
submission2

      id   target
0      0  3315000
1      1  3315000
2      2  3315000
3      3  2215000
4      4  3315000
..   ...      ...
431  431  3315000
432  432  5515000
433  433  3315000
434  434  3315000
435  435  3315000

[436 rows x 2 columns]