In [1]:
import pandas as pd
import re

In [2]:
train = pd.read_csv('./resalecar/dataset/train.csv')
test = pd.read_csv('./resalecar/dataset/test.csv')
sample_submission = pd.read_csv('./resalecar/dataset/sample_submission.csv')

In [3]:
train.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target
0,0,Toyota RAV 4,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000
1,1,Toyota Land Cruiser,10,Lagos,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000
2,2,Land Rover Range Rover Evoque,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000
3,3,Lexus ES 350,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000
4,4,Toyota Venza,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000

In [4]:
test.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year
0,0,Mercedes-Benz C 300,1234,Abuja,New,4-cylinder(I4),automatic,petrol,White,2017
1,1,Honda Accord,29938,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,White,2013
2,2,Mercedes-Benz S 550,87501,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,2012
3,3,Toyota Sienna,180894,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Dark Grey,2001
4,4,Toyota Hiace,104814,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,White,2000

In [5]:
# sorted(train.title.unique())

In [6]:
# sorted(test.title.unique())

In [7]:
only_train_data_title = set(train.title.unique())-set(test.title.unique())
only_test_data_title = set(test.title.unique())-set(train.title.unique())

In [8]:
'train에만 있는 차종류 개수 : {}, test에만 있는 차종류 개수 : {}'.format(len(only_train_data_title), len(only_test_data_title))

'train에만 있는 차종류 개수 : 116, test에만 있는 차종류 개수 : 37'

In [9]:
# only_train_data_title

In [10]:
# only_test_data_title

In [11]:
train['title'].apply(lambda x : x.split(" ")[0])

0       Toyota
1       Toyota
2         Land
3        Lexus
4       Toyota
         ...
1010    Toyota
1011    Toyota
1012    Toyota
1013     Lexus
1014       DAF
Name: title, Length: 1015, dtype: object

In [12]:
train['brand'] = train['title'].apply(lambda x : x.split(" ")[0])
train.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,Toyota RAV 4,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000,Toyota
1,1,Toyota Land Cruiser,10,Lagos,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000,Toyota
2,2,Land Rover Range Rover Evoque,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000,Land
3,3,Lexus ES 350,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000,Lexus
4,4,Toyota Venza,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000,Toyota

In [13]:
train.replace({'brand' : {'Land' : 'Land Rover'}}, inplace = True)

In [14]:
train.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,Toyota RAV 4,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Red,2016,13665000,Toyota
1,1,Toyota Land Cruiser,10,Lagos,New,4-cylinder(I4),automatic,petrol,Black,2019,33015000,Toyota
2,2,Land Rover Range Rover Evoque,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2012,9915000,Land Rover
3,3,Lexus ES 350,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Gray,2007,3815000,Lexus
4,4,Toyota Venza,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Red,2010,7385000,Toyota

In [15]:
len(train['brand'].unique())

42

In [16]:
train['brand'] = train['brand'].replace({'Mercedes-Benz/52' : 'Mercedes-Benz'})

In [17]:
# 브랜드에서 이상한 오타는 없음.
print(len(train['brand'].unique()))
print(sorted(train['brand'].unique()))

41
['ALPINA', 'Acura', 'Audi', 'BMW', 'Bentley', 'Chevrolet', 'DAF', 'Dodge', 'Ford', 'GAC', 'GMC', 'Honda', 'Hyundai', 'IVECO', 'IVM', 'Infiniti', 'Isuzu', 'Iveco', 'JMC', 'Jaguar', 'Jeep', 'Kia', 'Land Rover', 'Lexus', 'Lincoln', 'MAN-VOLKSWAGEN', 'MINI', 'Mack', 'Man', 'Mazda', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Peugeot', 'Pontiac', 'Porsche', 'Rolls-Royce', 'Scania', 'Toyota', 'Volkswagen', 'Volvo']

In [18]:
test['brand'] = test['title'].apply(lambda x: x.split(" ")[0])
test.head()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
0,0,Mercedes-Benz C 300,1234,Abuja,New,4-cylinder(I4),automatic,petrol,White,2017,Mercedes-Benz
1,1,Honda Accord,29938,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,White,2013,Honda
2,2,Mercedes-Benz S 550,87501,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,2012,Mercedes-Benz
3,3,Toyota Sienna,180894,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Dark Grey,2001,Toyota
4,4,Toyota Hiace,104814,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,White,2000,Toyota

In [19]:
test['brand'].unique()

array(['Mercedes-Benz', 'Honda', 'Toyota', 'Iveco', 'Lexus', 'Nissan',
       'Volkswagen', 'Jeep', 'Ford', 'BMW', 'Mack', 'Land', 'Hyundai',
       'Peugeot', 'Volvo', 'Infiniti', 'Acura', 'Man', 'Fiat', 'MINI',
       'DAF', 'Mazda', 'Porsche', 'Mitsubishi', 'Chevrolet', 'Kia',
       'Pontiac', 'Rolls-Royce'], dtype=object)

In [20]:
test.replace({'brand' : {'Land' : 'Land Rover'}}, inplace = True)

In [21]:
sorted(test['brand'].unique())

['Acura',
 'BMW',
 'Chevrolet',
 'DAF',
 'Fiat',
 'Ford',
 'Honda',
 'Hyundai',
 'Infiniti',
 'Iveco',
 'Jeep',
 'Kia',
 'Land Rover',
 'Lexus',
 'MINI',
 'Mack',
 'Man',
 'Mazda',
 'Mercedes-Benz',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Rolls-Royce',
 'Toyota',
 'Volkswagen',
 'Volvo']

In [22]:
# train이나 test의 종류는 모두 같지 않다.
print(len(train['brand'].unique()))
print(len(test['brand'].unique()))
print(sorted(train['brand'].unique()) == sorted(test['brand'].unique()))

41
28
False

In [23]:
# train에 없는데, test에 있는 brand
s = train['brand'].unique()
temp3 = [x for x in test['brand'].unique() if x not in s] #순서 보존됨
print(temp3)

# test 없는데, train 있는 brand
s = test['brand'].unique()
temp3 = [x for x in train['brand'].unique() if x not in s] #순서 보존됨
print(temp3)

['Fiat']
['Jaguar', 'Lincoln', 'Isuzu', 'IVM', 'Dodge', 'GMC', 'Scania', 'GAC', 'IVECO', 'MAN-VOLKSWAGEN', 'ALPINA', 'Bentley', 'JMC', 'Audi']

In [24]:
sorted(train.location.unique())

['Abia',
 'Abia State',
 'Abuja',
 'Abuja ',
 'Accra',
 'Adamawa ',
 'FCT',
 'Lagos',
 'Lagos ',
 'Lagos State',
 'Ogun',
 'Ogun State',
 'other']

In [25]:
# sorted(test.location.unique())

In [26]:
train['location'] = train['location'].str.replace(" State","")

In [27]:
train['location'] = train['location'].str.rstrip()

In [28]:
sorted(train.location.unique())

['Abia', 'Abuja', 'Accra', 'Adamawa', 'FCT', 'Lagos', 'Ogun', 'other']

In [29]:
test['location'] = test['location'].str.replace(" State","")
test['location'] = test['location'].str.replace(" state","")
test['location'] = test['location'].str.replace('Arepo ogun','Ogun')
test['location'] = test['location'].str.rstrip()

In [30]:
sorted(test['location'].unique())

['Abia', 'Abuja', 'Lagos', 'Mushin', 'Ogun', 'other']

In [31]:
sorted(train.isimported.unique())

['Foreign Used', 'Locally used', 'New ']

In [32]:
sorted(test.isimported.unique())

['Foreign Used', 'Locally used', 'New ']

In [33]:
sorted(train.engine.unique())

['2-cylinder(I2)',
 '3-cylinder(I3)',
 '4-cylinder(H4)',
 '4-cylinder(I4)',
 '5-cylinder(I5)',
 '6-cylinder(I6)',
 '6-cylinder(V6)',
 '8-cylinder(V8)']

In [34]:
sorted(test.engine.unique())

['12-cylinder(V12)',
 '2-cylinder(I2)',
 '3-cylinder(I3)',
 '4-cylinder(I4)',
 '5-cylinder(I5)',
 '6-cylinder(I6)',
 '6-cylinder(V6)',
 '8-cylinder(V8)']

In [35]:
train.transmission.unique()

array(['automatic', 'manual'], dtype=object)

In [36]:
test.transmission.unique()

array(['automatic', 'manual'], dtype=object)

In [37]:
train.fuel.unique()

array(['petrol', 'diesel'], dtype=object)

In [38]:
test.fuel.unique()

array(['petrol', 'diesel'], dtype=object)

In [39]:
sorted(train.paint.unique())

[' Black',
 ' Black/Red',
 'Ash',
 'Ash and black',
 'BLACK',
 'Beige',
 'Black',
 'Black ',
 'Black and silver',
 'Black sand pearl',
 'Black.',
 'Blue',
 'Blue ',
 'Brown',
 'Cream',
 'Cream ',
 'DARK GREY',
 'Dark Ash',
 'Dark Blue',
 'Dark Green',
 'Dark Grey',
 'Dark ash',
 'Dark blue ',
 'Dark gray',
 'Dark silver ',
 'Deep Blue',
 'Deep blue',
 'GOLD',
 'Gery',
 'Gold',
 'Gold ',
 'Gray',
 'Gray ',
 'Green',
 'Green ',
 'Grey',
 'Grey ',
 'Ink blue',
 'Light Gold',
 'Light blue',
 'Light silver ',
 'Magnetic Gray',
 'Magnetic Gray Metallic',
 'Maroon',
 'Midnight Black Metal',
 'Milk',
 'Navy blue',
 'Off white',
 'Off white l',
 'Pale brown',
 'Purple',
 'Red',
 'Redl',
 'SILVER',
 'Silver',
 'Silver ',
 'Silver/grey',
 'Sky blue',
 'Skye blue',
 'Sliver',
 'Super White',
 'WHITE',
 'WINE',
 'Whine ',
 'White',
 'White ',
 'White orchild pearl',
 'Wine',
 'Yellow',
 'blue',
 'green',
 'orange',
 'red',
 'white',
 'white-blue',
 'yellow']

In [40]:
import re 

def clean_text(texts): 
    corpus = [] 
    for i in range(0, len(texts)): 
        review = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"\n\]\[\>\<]', '',texts[i]) #@%*=()/+ 와 같은 문장부호 제거
        review = re.sub(r'\d+','',review)#숫자 제거
        review = review.lower() #소문자 변환
        review = re.sub(r'\s+', ' ', review) #extra space 제거
        review = re.sub(r'<[^>]+>','',review) #Html tags 제거
        review = re.sub(r'\s+', ' ', review) #spaces 제거
        review = re.sub(r"^\s+", '', review) #space from start 제거
        review = re.sub(r'\s+$', '', review) #space from the end 제거
        review = re.sub(r'_', ' ', review) #space from the end 제거
        #review = re.sub(r'l', '', review)
        corpus.append(review) 
        
    return corpus

temp = clean_text(train['paint']) #메소드 적용
train['paint'] = temp
print('train data에서 paint의 unique 카테고리 개수 : ', len(train['paint'].unique()))

train data에서 paint의 unique 카테고리 개수 :  51

In [41]:
sorted(train['paint'].unique())

['ash',
 'ash and black',
 'beige',
 'black',
 'black and silver',
 'black sand pearl',
 'blackred',
 'blue',
 'brown',
 'cream',
 'dark ash',
 'dark blue',
 'dark gray',
 'dark green',
 'dark grey',
 'dark silver',
 'deep blue',
 'gery',
 'gold',
 'gray',
 'green',
 'grey',
 'ink blue',
 'light blue',
 'light gold',
 'light silver',
 'magnetic gray',
 'magnetic gray metallic',
 'maroon',
 'midnight black metal',
 'milk',
 'navy blue',
 'off white',
 'off white l',
 'orange',
 'pale brown',
 'purple',
 'red',
 'redl',
 'silver',
 'silvergrey',
 'sky blue',
 'skye blue',
 'sliver',
 'super white',
 'whine',
 'white',
 'white orchild pearl',
 'whiteblue',
 'wine',
 'yellow']

In [42]:
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('blac') >= 0 else x)
train['paint'] = train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('golf') >= 0 else x)

In [43]:
sorted(train['paint'].unique())

['ash',
 'beige',
 'black',
 'blue',
 'brown',
 'cream',
 'gold',
 'green',
 'grey',
 'maroon',
 'milk',
 'orange',
 'purple',
 'red',
 'silver',
 'white',
 'wine',
 'yellow']

In [44]:
temp2 = clean_text(test['paint'])
test['paint'] = temp2
print('test data에서 paint의 unique 카테고리 개수 : ', len(test['paint'].unique()))

test data에서 paint의 unique 카테고리 개수 :  30

In [45]:

test['paint'] = test['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('blac') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('golf') >= 0 else x)

In [46]:
len(sorted(test['paint'].unique()))

16

In [47]:
train_year = set(train.year.unique()) - set(test.year.unique())
test_year = set(test.year.unique()) - set(train.year.unique())

In [48]:
train_year

{1217, 1218, 1980, 1982, 1985, 1991, 1995}

In [49]:
test_year

{1324, 1726, 1987, 1993, 2626}

## 자료 비교

In [50]:
def difference(column, df_train, df_test):
    print('---- {} ----'.format(column))
    # train에 없는데, test에 있는 column
    print('train 없는데, test 있는', column)
    s = df_train[column].unique()
    no_train = [x for x in df_test[column].unique() if x not in s] #순서 보존됨
    print(no_train)

    # test 없는데, train 있는 column
    print('test 없는데, train 있는', column)
    s = df_test[column].unique()
    no_test = [x for x in df_train[column].unique() if x not in s] #순서 보존됨
    print(no_test)

difference('brand', train, test)
difference('isimported', train, test)
difference('location', train, test)
difference('engine', train, test)
difference('transmission', train, test)
difference('fuel', train, test)
difference('paint', train, test)
difference('year', train, test)

---- brand ----
train 없는데, test 있는 brand
['Fiat']
test 없는데, train 있는 brand
['Jaguar', 'Lincoln', 'Isuzu', 'IVM', 'Dodge', 'GMC', 'Scania', 'GAC', 'IVECO', 'MAN-VOLKSWAGEN', 'ALPINA', 'Bentley', 'JMC', 'Audi']
---- isimported ----
train 없는데, test 있는 isimported
[]
test 없는데, train 있는 isimported
[]
---- location ----
train 없는데, test 있는 location
['Mushin']
test 없는데, train 있는 location
['FCT', 'Accra', 'Adamawa']
---- engine ----
train 없는데, test 있는 engine
['12-cylinder(V12)']
test 없는데, train 있는 engine
['4-cylinder(H4)']
---- transmission ----
train 없는데, test 있는 transmission
[]
test 없는데, train 있는 transmission
[]
---- fuel ----
train 없는데, test 있는 fuel
[]
test 없는데, train 있는 fuel
[]
---- paint ----
train 없는데, test 있는 paint
['indigo ink pearl']
test 없는데, train 있는 paint
['purple', 'milk', 'orange']
---- year ----
train 없는데, test 있는 year
[1993, 1987, 1324, 2626, 1726]
test 없는데, train 있는 year
[1995, 1985, 1991, 1218, 1982, 1217, 1980]

## 자료 가공

In [51]:
set(train.brand) | set(test.brand) # 합집합

{'ALPINA',
 'Acura',
 'Audi',
 'BMW',
 'Bentley',
 'Chevrolet',
 'DAF',
 'Dodge',
 'Fiat',
 'Ford',
 'GAC',
 'GMC',
 'Honda',
 'Hyundai',
 'IVECO',
 'IVM',
 'Infiniti',
 'Isuzu',
 'Iveco',
 'JMC',
 'Jaguar',
 'Jeep',
 'Kia',
 'Land Rover',
 'Lexus',
 'Lincoln',
 'MAN-VOLKSWAGEN',
 'MINI',
 'Mack',
 'Man',
 'Mazda',
 'Mercedes-Benz',
 'Mitsubishi',
 'Nissan',
 'Peugeot',
 'Pontiac',
 'Porsche',
 'Rolls-Royce',
 'Scania',
 'Toyota',
 'Volkswagen',
 'Volvo'}

In [52]:
brand_label = {_brand : label for label, _brand in enumerate(set(set(train.brand)|set(test.brand)))}
brand_label
# set 집합은 순서가 없음

{'Land Rover': 0,
 'Chevrolet': 1,
 'MINI': 2,
 'Honda': 3,
 'Isuzu': 4,
 'GMC': 5,
 'ALPINA': 6,
 'Mitsubishi': 7,
 'Scania': 8,
 'Pontiac': 9,
 'Hyundai': 10,
 'Mack': 11,
 'DAF': 12,
 'Dodge': 13,
 'Iveco': 14,
 'GAC': 15,
 'JMC': 16,
 'Fiat': 17,
 'Acura': 18,
 'Ford': 19,
 'Rolls-Royce': 20,
 'Jeep': 21,
 'Man': 22,
 'BMW': 23,
 'Toyota': 24,
 'Kia': 25,
 'MAN-VOLKSWAGEN': 26,
 'Volkswagen': 27,
 'Bentley': 28,
 'Mercedes-Benz': 29,
 'Lexus': 30,
 'Audi': 31,
 'IVECO': 32,
 'Peugeot': 33,
 'IVM': 34,
 'Porsche': 35,
 'Mazda': 36,
 'Jaguar': 37,
 'Lincoln': 38,
 'Infiniti': 39,
 'Nissan': 40,
 'Volvo': 41}

In [53]:
train['brand'] = train['brand'].replace(brand_label)
test['brand'] = test['brand'].replace(brand_label)

In [54]:
train['brand'].unique()

array([24,  0, 30,  9, 19,  3, 41, 23, 39, 29, 10, 37,  7, 40, 11,  1, 36,
       38, 25, 27, 18, 12, 22,  4, 34, 35,  2, 13,  5, 14,  8, 15, 32, 33,
       20, 26, 21,  6, 28, 16, 31], dtype=int64)

In [55]:
test['brand']

0      29
1       3
2      29
3      24
4      24
       ..
431    29
432     3
433    29
434    30
435    24
Name: brand, Length: 436, dtype: int64

In [56]:
train['brand']

0       24
1       24
2        0
3       30
4       24
        ..
1010    24
1011    24
1012    24
1013    30
1014    12
Name: brand, Length: 1015, dtype: int64

In [57]:
car_title = pd.concat([train.title, test.title], ignore_index = True)
car_title = set(car_title)
car_title

{'ALPINA B3',
 'Acura MDX',
 'Acura RDX',
 'Acura TL',
 'Acura TSX',
 'Acura ZDX',
 'Audi S6',
 'BMW 325',
 'BMW 335',
 'BMW 525',
 'BMW 528',
 'BMW 535',
 'BMW 730',
 'BMW 740',
 'BMW 745',
 'BMW 750',
 'BMW X3',
 'BMW X6',
 'Bentley Arnage',
 'Chevrolet Camaro',
 'Chevrolet Evanda',
 'Chevrolet Traverse',
 'DAF 45',
 'DAF 95XF TRACTOR HEAD',
 'DAF CF',
 'DAF FA 55. 180',
 'DAF XF TRACTOR HEAD',
 'Dodge Charger',
 'Fiat Ducato',
 'Ford Edge',
 'Ford Escape',
 'Ford Expedition',
 'Ford Explorer',
 'Ford F 150',
 'Ford Focus',
 'Ford Fusion',
 'Ford Mondeo',
 'Ford Mustang',
 'Ford TRANSIT PICKUP',
 'Ford Transit',
 'GAC Gonow Other',
 'GMC Terrain',
 'Honda Accord',
 'Honda CR-V',
 'Honda Civic',
 'Honda Crosstour',
 'Honda Element',
 'Honda Fit',
 'Honda Insight',
 'Honda Odyssey',
 'Honda Pilot',
 'Honda Ridgeline',
 'Hyundai Azera',
 'Hyundai Elantra',
 'Hyundai Santa Fe',
 'Hyundai Sonata',
 'Hyundai Tucson',
 'Hyundai ix35',
 'IVECO EUROTECH 7.50E-16',
 'IVM LT35',
 'Infiniti FX',
 'Infiniti JX',
 'Infiniti M35',
 'Infiniti QX80',
 'Isuzu CABSTER',
 'Isuzu NQR',
 'Iveco EUROCARGO 120e18',
 'Iveco TRUCK',
 'JMC Vigus',
 'Jaguar X-Type',
 'Jaguar XJ8',
 'Jeep Cherokee',
 'Jeep Wrangler',
 'Kia Cerato',
 'Kia Optima',
 'Kia Picanto',
 'Kia Rio',
 'Kia Sorento',
 'Kia Soul',
 'Kia Stinger',
 'Land Rover Discovery',
 'Land Rover Range Rover',
 'Land Rover Range Rover Evoque',
 'Land Rover Range Rover Sport',
 'Land Rover Range Rover Velar',
 'Lexus CT 200h',
 'Lexus ES 300',
 'Lexus ES 330',
 'Lexus ES 350',
 'Lexus GS 300',
 'Lexus GS 350',
 'Lexus GX 460',
 'Lexus GX 470',
 'Lexus IS 250',
 'Lexus LS 460',
 'Lexus LX 570',
 'Lexus RX 300',
 'Lexus RX 330',
 'Lexus RX 350',
 'Lexus RX 400',
 'Lincoln Mark',
 'MAN-VOLKSWAGEN FLATBED',
 'MINI Cooper',
 'MINI Cooper Countryman',
 'MINI Cooper Coupé',
 'Mack CH613',
 'Mack CH613 CONVENTIONAL CAB',
 'Mack CXN613',
 'Mack CXN613 CAB BEHIND ENGINE',
 'Mack R-686ST',
 'Man 26-403',
 'Man BOCKMANN',
 'Man Diesel 19.314 FILT-N',
 'Man LE 8. 180 PLATFORM TRUCK',
 'Man TGA 18.360',
 'Man Truck 18.44',
 'Mazda 323',
 'Mazda 6',
 'Mazda CX-9',
 'Mazda Tribute',
 'Mercedes-Benz 200',
 'Mercedes-Benz 220',
 'Mercedes-Benz 300',
 'Mercedes-Benz 320',
 'Mercedes-Benz 350',
 'Mercedes-Benz 450',
 'Mercedes-Benz 709 DB',
 'Mercedes-Benz 814',
 'Mercedes-Benz ATEGO',
 'Mercedes-Benz C 180',
 'Mercedes-Benz C 250',
 'Mercedes-Benz C 300',
 'Mercedes-Benz C 320',
 'Mercedes-Benz C 350',
 'Mercedes-Benz C 450 AMG',
 'Mercedes-Benz C 63 AMG',
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY',
 'Mercedes-Benz CLA 250',
 'Mercedes-Benz CLS 500',
 'Mercedes-Benz DUMP TRUCK',
 'Mercedes-Benz E 200',
 'Mercedes-Benz E 300',
 'Mercedes-Benz E 320',
 'Mercedes-Benz E 350',
 'Mercedes-Benz E 550',
 'Mercedes-Benz G 550',
 'Mercedes-Benz G 63 AMG',
 'Mercedes-Benz GL 450',
 'Mercedes-Benz GLA 180',
 'Mercedes-Benz GLA 250',
 'Mercedes-Benz GLC 300',
 'Mercedes-Benz GLE 350',
 'Mercedes-Benz GLE 43 AMG',
 'Mercedes-Benz GLE 450',
 'Mercedes-Benz GLK 300',
 'Mercedes-Benz GLK 350',
 'Mercedes-Benz ML 320',
 'Mercedes-Benz ML 350',
 'Mercedes-Benz ML 430',
 'Mercedes-Benz Maybach',
 'Mercedes-Benz S 450',
 'Mercedes-Benz S 550',
 'Mercedes-Benz SL 400',
 'Mercedes-Benz WATER TANKER',
 'Mercedes-Benz/52',
 'Mitsubishi CANTER PICK UP',
 'Mitsubishi Eclipse',
 'Mitsubishi Galant',
 'Mitsubishi L200',
 'Mitsubishi Montero',
 'Mitsubishi Pajero',
 'Nissan A',
 'Nissan Altima',
 'Nissan Cabstar',
 'Nissan Frontier',
 'Nissan INFINITI M90.150/2',
 'Nissan Maxima',
 'Nissan Murano',
 'Nissan Pathfinder',
 'Nissan Primera',
 'Nissan Quest',
 'Nissan Rogue',
 'Nissan Sentra',
 'Nissan Titan',
 'Nissan Versa',
 'Nissan X-Trail',
 'Nissan Xterra',
 'Peugeot 206',
 'Peugeot 307',
 'Peugeot 308',
 'Peugeot 607',
 'Pontiac Vibe',
 'Porsche Cayenne',
 'Porsche Macan',
 'Porsche Panamera',
 'Rolls-Royce Ghost',
 'Scania P94 FLATBED',
 'Scania TRACTOR HEAD',
 'Toyota 4-Runner',
 'Toyota Avalon',
 'Toyota Avensis',
 'Toyota C-HR',
 'Toyota Camry',
 'Toyota Coaster',
 'Toyota Corolla',
 'Toyota DYNA 200',
 'Toyota Dyna',
 'Toyota Hiace',
 'Toyota Highlander',
 'Toyota Hilux',
 'Toyota Land Cruiser',
 'Toyota Matrix',
 'Toyota Prado',
 'Toyota Prius',
 'Toyota RAV 4',
 'Toyota Sequoia',
 'Toyota Sienna',
 'Toyota Solara',
 'Toyota Tacoma',
 'Toyota Tundra',
 'Toyota Venza',
 'Toyota Vitz',
 'Toyota Yaris',
 'Volkswagen 17.22',
 'Volkswagen Golf',
 'Volkswagen Jetta',
 'Volkswagen LT',
 'Volkswagen Passat',
 'Volkswagen Sharan',
 'Volkswagen T4 Caravelle',
 'Volkswagen T6 other',
 'Volkswagen Tiguan',
 'Volkswagen Touareg',
 'Volvo FH12',
 'Volvo FL12',
 'Volvo FL6',
 'Volvo FL7',
 'Volvo S80',
 'Volvo XC60',
 'Volvo XC90'}

In [58]:
car_title_label = {car_title : label for label, car_title in enumerate(car_title)}
car_title_label

{'Mercedes-Benz GLE 43 AMG': 0,
 'Nissan Frontier': 1,
 'Mercedes-Benz C 180': 2,
 'Porsche Macan': 3,
 'Mercedes-Benz DUMP TRUCK': 4,
 'Lexus ES 300': 5,
 'IVM LT35': 6,
 'Toyota Corolla': 7,
 'Kia Optima': 8,
 'Mercedes-Benz SL 400': 9,
 'Mercedes-Benz ML 350': 10,
 'Mack CXN613 CAB BEHIND ENGINE': 11,
 'Peugeot 607': 12,
 'JMC Vigus': 13,
 'Toyota Prius': 14,
 'Jaguar XJ8': 15,
 'Volkswagen 17.22': 16,
 'BMW 325': 17,
 'DAF 45': 18,
 'Nissan A': 19,
 'Volvo XC90': 20,
 'Nissan Sentra': 21,
 'Hyundai Elantra': 22,
 'Hyundai Sonata': 23,
 'Ford Fusion': 24,
 'Mercedes-Benz GLK 300': 25,
 'Mercedes-Benz E 320': 26,
 'Mercedes-Benz CLS 500': 27,
 'Mercedes-Benz 220': 28,
 'BMW 528': 29,
 'Toyota Vitz': 30,
 'Fiat Ducato': 31,
 'Ford Expedition': 32,
 'BMW 750': 33,
 'Nissan Maxima': 34,
 'BMW X3': 35,
 'Land Rover Range Rover Velar': 36,
 'DAF 95XF TRACTOR HEAD': 37,
 'BMW X6': 38,
 'Kia Picanto': 39,
 'Infiniti QX80': 40,
 'Honda Ridgeline': 41,
 'Peugeot 206': 42,
 'GAC Gonow Other': 43,
 'Hyundai ix35': 44,
 'Mercedes-Benz C 350': 45,
 'Toyota Venza': 46,
 'Mazda Tribute': 47,
 'Acura TSX': 48,
 'Lexus CT 200h': 49,
 'Toyota Solara': 50,
 'Mercedes-Benz E 350': 51,
 'Dodge Charger': 52,
 'Toyota Tacoma': 53,
 'Nissan Titan': 54,
 'Kia Cerato': 55,
 'Toyota Avensis': 56,
 'MINI Cooper': 57,
 'BMW 335': 58,
 'Man Diesel 19.314 FILT-N': 59,
 'Land Rover Range Rover Sport': 60,
 'Toyota Sienna': 61,
 'Audi S6': 62,
 'Honda Insight': 63,
 'Man TGA 18.360': 64,
 'Hyundai Tucson': 65,
 'Iveco TRUCK': 66,
 'Mercedes-Benz ML 430': 67,
 'Volkswagen Golf': 68,
 'Mack R-686ST': 69,
 'Volkswagen T6 other': 70,
 'Nissan Primera': 71,
 'Mitsubishi Pajero': 72,
 'Kia Stinger': 73,
 'Lexus GS 300': 74,
 'Mack CH613': 75,
 'Hyundai Santa Fe': 76,
 'Mercedes-Benz C 300': 77,
 'Nissan Murano': 78,
 'Chevrolet Evanda': 79,
 'Honda CR-V': 80,
 'Pontiac Vibe': 81,
 'Toyota Yaris': 82,
 'Infiniti FX': 83,
 'DAF CF': 84,
 'Land Rover Discovery': 85,
 'Volvo XC60': 86,
 'Toyota Sequoia': 87,
 'Lexus ES 350': 88,
 'Bentley Arnage': 89,
 'Kia Rio': 90,
 'Mercedes-Benz GL 450': 91,
 'Volvo S80': 92,
 'Ford F 150': 93,
 'Mitsubishi CANTER PICK UP': 94,
 'Scania TRACTOR HEAD': 95,
 'Toyota Avalon': 96,
 'Nissan X-Trail': 97,
 'Peugeot 308': 98,
 'Toyota DYNA 200': 99,
 'Mazda 323': 100,
 'Honda Civic': 101,
 'Mercedes-Benz ATEGO': 102,
 'Nissan Cabstar': 103,
 'Iveco EUROCARGO 120e18': 104,
 'Ford Escape': 105,
 'Acura MDX': 106,
 'Nissan INFINITI M90.150/2': 107,
 'Man 26-403': 108,
 'Lexus GX 460': 109,
 'Ford Transit': 110,
 'Mercedes-Benz/52': 111,
 'Ford TRANSIT PICKUP': 112,
 'Isuzu NQR': 113,
 'Kia Sorento': 114,
 'Mercedes-Benz E 550': 115,
 'Mercedes-Benz 300': 116,
 'Ford Edge': 117,
 'Mercedes-Benz C 320': 118,
 'Volkswagen Sharan': 119,
 'Volvo FH12': 120,
 'ALPINA B3': 121,
 'Mazda 6': 122,
 'Acura RDX': 123,
 'Volkswagen Tiguan': 124,
 'Nissan Xterra': 125,
 'Acura TL': 126,
 'Lexus ES 330': 127,
 'Nissan Rogue': 128,
 'MAN-VOLKSWAGEN FLATBED': 129,
 'Isuzu CABSTER': 130,
 'Infiniti JX': 131,
 'MINI Cooper Coupé': 132,
 'Mercedes-Benz E 300': 133,
 'Honda Crosstour': 134,
 'Lexus RX 350': 135,
 'Toyota Land Cruiser': 136,
 'Mercedes-Benz GLE 350': 137,
 'Toyota Matrix': 138,
 'DAF XF TRACTOR HEAD': 139,
 'Mazda CX-9': 140,
 'GMC Terrain': 141,
 'Kia Soul': 142,
 'Toyota Tundra': 143,
 'Mercedes-Benz ML 320': 144,
 'Nissan Altima': 145,
 'Mercedes-Benz C 250': 146,
 'Honda Element': 147,
 'Mercedes-Benz GLC 300': 148,
 'Lexus RX 400': 149,
 'Volkswagen LT': 150,
 'Mercedes-Benz S 550': 151,
 'Lexus GX 470': 152,
 'Mercedes-Benz GLA 180': 153,
 'Volkswagen Passat': 154,
 'Ford Mustang': 155,
 'BMW 745': 156,
 'Lexus RX 330': 157,
 'Toyota Hiace': 158,
 'Mercedes-Benz E 200': 159,
 'Mercedes-Benz C 450 AMG': 160,
 'Land Rover Range Rover Evoque': 161,
 'Mercedes-Benz 814': 162,
 'Volkswagen T4 Caravelle': 163,
 'Mercedes-Benz 450': 164,
 'IVECO EUROTECH 7.50E-16': 165,
 'Toyota Prado': 166,
 'BMW 730': 167,
 'Mercedes-Benz 709 DB': 168,
 'Land Rover Range Rover': 169,
 'Toyota RAV 4': 170,
 'Volvo FL6': 171,
 'Peugeot 307': 172,
 'Lincoln Mark': 173,
 'Toyota Coaster': 174,
 'Man BOCKMANN': 175,
 'Chevrolet Camaro': 176,
 'Hyundai Azera': 177,
 'Lexus LX 570': 178,
 'Mercedes-Benz G 550': 179,
 'Mercedes-Benz WATER TANKER': 180,
 'Mercedes-Benz CLA 250': 181,
 'Ford Focus': 182,
 'Porsche Panamera': 183,
 'Lexus RX 300': 184,
 'Mercedes-Benz S 450': 185,
 'Mercedes-Benz GLE 450': 186,
 'Volvo FL12': 187,
 'BMW 740': 188,
 'Mercedes-Benz Maybach': 189,
 'Toyota 4-Runner': 190,
 'Jeep Cherokee': 191,
 'Toyota Camry': 192,
 'Ford Explorer': 193,
 'Mitsubishi L200': 194,
 'Nissan Pathfinder': 195,
 'Mercedes-Benz GLK 350': 196,
 'Lexus LS 460': 197,
 'Mercedes-Benz G 63 AMG': 198,
 'Toyota Hilux': 199,
 'Mercedes-Benz GLA 250': 200,
 'DAF FA 55. 180': 201,
 'Honda Fit': 202,
 'Man LE 8. 180 PLATFORM TRUCK': 203,
 'Honda Accord': 204,
 'Mack CH613 CONVENTIONAL CAB': 205,
 'Ford Mondeo': 206,
 'Jeep Wrangler': 207,
 'Toyota Highlander': 208,
 'Mercedes-Benz 200': 209,
 'Mack CXN613': 210,
 'Jaguar X-Type': 211,
 'Lexus GS 350': 212,
 'Scania P94 FLATBED': 213,
 'Toyota Dyna': 214,
 'Rolls-Royce Ghost': 215,
 'Man Truck 18.44': 216,
 'Porsche Cayenne': 217,
 'Volvo FL7': 218,
 'Mitsubishi Eclipse': 219,
 'MINI Cooper Countryman': 220,
 'Lexus IS 250': 221,
 'Mitsubishi Montero': 222,
 'Chevrolet Traverse': 223,
 'Volkswagen Jetta': 224,
 'Infiniti M35': 225,
 'Volkswagen Touareg': 226,
 'Honda Odyssey': 227,
 'Acura ZDX': 228,
 'Mitsubishi Galant': 229,
 'Nissan Quest': 230,
 'BMW 525': 231,
 'Toyota C-HR': 232,
 'Honda Pilot': 233,
 'Nissan Versa': 234,
 'Mercedes-Benz C 63 AMG': 235,
 'Mercedes-Benz 320': 236,
 'Mercedes-Benz CABIN PLUS CHASSIS ONLY': 237,
 'BMW 535': 238,
 'Mercedes-Benz 350': 239}

In [59]:
train['title'] = train['title'].replace(car_title_label)
test['title'] = test['title'].replace(car_title_label)

In [60]:
train.head(5)

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,170,18277,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,red,2016,13665000,24
1,1,136,10,Lagos,New,4-cylinder(I4),automatic,petrol,black,2019,33015000,24
2,2,161,83091,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,red,2012,9915000,0
3,3,88,91524,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,grey,2007,3815000,30
4,4,46,94177,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,red,2010,7385000,24

In [61]:
test.head(1)

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
0,0,77,1234,Abuja,New,4-cylinder(I4),automatic,petrol,white,2017,29

In [62]:
train.location.unique()

array(['Lagos', 'Abuja', 'Ogun', 'FCT', 'Accra', 'other', 'Abia',
       'Adamawa'], dtype=object)

In [63]:
test.location.unique()

array(['Abuja', 'Lagos', 'Ogun', 'Mushin', 'other', 'Abia'], dtype=object)

In [64]:
# Mushin은 Loagos와 연관있는 곳
test['location'] = test['location'].str.replace('Mushin', 'Lagos')

In [65]:
test.location.unique()

array(['Abuja', 'Lagos', 'Ogun', 'other', 'Abia'], dtype=object)

In [66]:
location_label = set(train.location) | set(test.location) # 합집합
print(location_label)

{'Ogun', 'Abuja', 'Accra', 'other', 'Lagos', 'Abia', 'Adamawa', 'FCT'}

In [89]:
train['location'] = train['location'].replace(location_label)
test['location'] = test['location'].replace(location_label)

location_label = {_location : label for label, _location in enumerate(set(pd.concat([train.location, test.location])))}

In [90]:
location_label

{'Ogun': 0,
 'Abuja': 1,
 'Accra': 2,
 'other': 3,
 'Lagos': 4,
 'Abia': 5,
 'Adamawa': 6,
 'FCT': 7}

In [68]:
print(len(train['paint'].unique()))
len(test['paint'].unique())

18

16

In [69]:
paint_label = {_paint : label for label, _paint in enumerate(set(pd.concat([train.paint, test.paint])))}

In [70]:
paint_label

{'purple': 0,
 'silver': 1,
 'indigo ink pearl': 2,
 'grey': 3,
 'orange': 4,
 'white': 5,
 'green': 6,
 'wine': 7,
 'milk': 8,
 'ash': 9,
 'gold': 10,
 'brown': 11,
 'red': 12,
 'blue': 13,
 'maroon': 14,
 'yellow': 15,
 'beige': 16,
 'cream': 17,
 'black': 18}

In [71]:
train['paint'] = train['paint'].replace(paint_label)
test['paint'] = test['paint'].replace(paint_label)

In [72]:
set(set(train.engine.unique()) | set(test.engine.unique())) - set(set(train.engine.unique()) & set(test.engine.unique()))

{'12-cylinder(V12)', '4-cylinder(H4)'}

In [73]:
train[train.engine == '4-cylinder(H4)']

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
327,327,192,3656,Abuja,Foreign Used,4-cylinder(H4),automatic,petrol,1,2020,20015000,24
830,830,204,152229,Lagos,Foreign Used,4-cylinder(H4),automatic,petrol,3,2007,2765000,3

In [74]:
train = train.replace({'4-cylinder(H4)' : '4-cylinder(I4)'})

In [75]:
test[test.engine == '12-cylinder(V12)']

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
142,142,189,6758,Lagos,New,12-cylinder(V12),automatic,petrol,18,2019,29

In [76]:
test = test.replace({'12-cylinder(V12)' : '8-cylinder(V8)'})

In [77]:
test.iloc[[142]]

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
142,142,189,6758,Lagos,New,8-cylinder(V8),automatic,petrol,18,2019,29

In [78]:
engine_label = {_engine : label for label, _engine in enumerate(set(pd.concat([train.engine, test.engine])))}
engine_label

{'8-cylinder(V8)': 0,
 '6-cylinder(V6)': 1,
 '6-cylinder(I6)': 2,
 '4-cylinder(I4)': 3,
 '5-cylinder(I5)': 4,
 '3-cylinder(I3)': 5,
 '2-cylinder(I2)': 6}

In [79]:
train = train.replace(engine_label)
test = test.replace(engine_label)

In [80]:
train['year'] = train['year'].replace([1218, 1217], [2010, 2010])
test['year'] = test['year'].replace([1324, 1726, 2626], [2010, 2010, 2020])

In [81]:
isimported_label = {'Foreign Used': 0, 'Locally used' : 1, 'New ' : 2}
transmission_label = {'automatic' : 0, 'manual' : 1}
fuel_label = {'petrol' : 0, 'diesel' : 1}

In [82]:
train['isimported'] = train['isimported'].replace(isimported_label)
test['isimported'] = test['isimported'].replace(isimported_label)

train['transmission'] = train['transmission'].replace(transmission_label)
test['transmission'] = test['transmission'].replace(transmission_label)

train['fuel'] = train['fuel'].replace(fuel_label)
test['fuel'] = test['fuel'].replace(fuel_label)

## 추가 컬럼

## 데이터 변환 최종 점검

In [83]:
# object가 나오면 안된다. 모두 정수형, float형이어야 한다.
display(train.head())
train.info()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,target,brand
0,0,170,18277,Lagos,0,3,0,0,12,2016,13665000,24
1,1,136,10,Lagos,2,3,0,0,18,2019,33015000,24
2,2,161,83091,Lagos,0,1,0,0,12,2012,9915000,0
3,3,88,91524,Lagos,0,3,0,0,3,2007,3815000,30
4,4,46,94177,Lagos,0,1,0,0,12,2010,7385000,24

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1015 non-null   int64
 1   title         1015 non-null   int64
 2   odometer      1015 non-null   int64
 3   location      1015 non-null   object
 4   isimported    1015 non-null   int64
 5   engine        1015 non-null   int64
 6   transmission  1015 non-null   int64
 7   fuel          1015 non-null   int64
 8   paint         1015 non-null   int64
 9   year          1015 non-null   int64
 10  target        1015 non-null   int64
 11  brand         1015 non-null   int64
dtypes: int64(11), object(1)
memory usage: 95.3+ KB

In [84]:
display(test.head())
test.info()

,id,title,odometer,location,isimported,engine,transmission,fuel,paint,year,brand
0,0,77,1234,Abuja,2,3,0,0,5,2017,29
1,1,204,29938,Abuja,0,3,0,0,5,2013,3
2,2,151,87501,Lagos,0,3,0,0,18,2012,29
3,3,61,180894,Lagos,1,1,0,0,3,2001,24
4,4,158,104814,Lagos,0,3,0,0,5,2000,24

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            436 non-null    int64
 1   title         436 non-null    int64
 2   odometer      436 non-null    int64
 3   location      436 non-null    object
 4   isimported    436 non-null    int64
 5   engine        436 non-null    int64
 6   transmission  436 non-null    int64
 7   fuel          436 non-null    int64
 8   paint         436 non-null    int64
 9   year          436 non-null    int64
 10  brand         436 non-null    int64
dtypes: int64(10), object(1)
memory usage: 37.6+ KB

In [85]:
len(train)

1015

## 모델 사용

In [86]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [91]:

train_X = train.drop(['id', 'target'], axis = 1)
train_y = train.target

test_X = test.drop(['id'], axis = 1)

In [92]:
model.fit(train_X, train_y)

ValueError: could not convert string to float: 'Lagos'

In [ ]:
pred = model.predict(test_X)

In [ ]:

submission = sample_submission.copy()
submission.target = pred
submission

In [ ]:
submission.to_csv('./resalecar/submission.csv', index = False)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()
model.fit(train_X, train_y)

In [ ]:
pred = model.predict(test_X)

In [ ]:

submission2 = sample_submission.copy()
submission2.target = pred
submission2