In [1]:
import pandas as pd

In [4]:
tables = pd.read_html('./dataset/sample.html')
tables

[   Unnamed: 0  c0  c1  c2  c3
 0           0   0   1   4   7
 1           1   1   2   5   8
 2           2   2   3   6   9,
          name  year        developer  opensource
 0       NumPy  2006  Travis Oliphant        True
 1  matplotlib  2003   John D. Hunter        True
 2      pandas  2008    Wes Mckinneye        True]

In [ ]:
# table 갯수 확인
print(len(tables))

for i in range(len(tables)):
    print(tables[i])
    print()

In [ ]:
df = tables[1]
print(df) 

# name 컬럼을 인덱스로 설정  기존 데이터 변경
df.set_index('name', inplace=True)
print(df)

In [17]:
# 'Numpy'  인덱스행의 정보만 출력
df.loc[ 'NumPy', :]
# year가 2006 이후인 자료만 검색
df.info()
df.loc[ df.year >= 2006 , :]

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, NumPy to pandas
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        3 non-null      int64
 1   developer   3 non-null      object
 2   opensource  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 183.0+ bytes

        year        developer  opensource
name
NumPy   2006  Travis Oliphant        True
pandas  2008    Wes Mckinneye        True

In [18]:
# 데이터프레임 자료를 csv 파일로 저장 
data = { 'name': ['Jerry', 'Riah', 'Paul'] , 
       'algol' : ['a','b', 'c'] }
df = pd.DataFrame(data )

In [21]:
df.to_csv("./dataset/to_csv_sa")

In [22]:
# 여러 개의  파일을 엑셀로 저장
# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df1, df2에 저장 
data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'],
         'algol' : [ "A", "A+", "B"],
         'basic' : [ "C", "B", "B+"],
          'c++' : [ "B+", "C", "C+"]}

data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9], 
         'c3':[10,11,12], 
         'c4':[13,14,15]}

In [24]:
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# df1의 'name' 컬럼을 인덱스로 설정
df1.set_index('name', inplace=True)
# df2의 'c0' 컬럼을 인덱스로 설정
df2.set_index('c0', inplace=True)

In [25]:
# ExcelWriter를 사용하여 두 개의 파일을 하나의 엑셀 파일에 저장
writer = pd.ExcelWriter("./dataset/two_excel.xlsx")
df1.to_excel(writer, sheet_name='df1')
df2.to_excel(writer, sheet_name='df2')    
writer.save()